{%
  set classes = [
  'taxonomy-term',
  'vocabulary-' ~ term.bundle|clean_class,
]
%}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    {{ name }}
  {% endif %}
  {{ title_suffix }}
  <div class="content">
    {{ content }}
  </div>
</div>
