{{ page.branding }}

{% if page.header|render|trim is not empty  %}
  <header class="site-header">
    {{ page.header }}
  </header>
{% endif %}

{% if page.content|render|trim is not empty %}
  <section class="banner">
    <div class="container">{{ page.content }}</div>
  </section>
{% endif %}

{% if page.featured_bottom_first|render|trim is not empty %}
  <section class="map-banner">
    {{ page.featured_bottom_first }}
  </section>
{% endif %}

{% if page.featured_bottom_second|render|trim is not empty %}
  <section class="banner">
    {{ page.featured_bottom_second }}
  </section>
{% endif %}

{% if page.footer_left or page.footer_right %}
  <footer class="site-footer">
    <div class="container">
      <div class="l-2up--1">{{ page.footer_left }}</div>
      <div class="l-2up--2">{{ page.footer_right }}</div>
    </div>
  </footer>
{% endif %}
